<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Trip Builder
  </h1>
  <hr>
</div>
<div class="containe-fluid">

  <div class="row justify-content-center">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 align-self-center">
            <div>
                <ul class="itinerary">
                  <li class="list">
                    <mat-form-field>
                    <mat-select placeholder="Departure" [(ngModel)]="selectedDepartureCityId" [disabled]="selectDepartStatus">
                      <mat-option *ngFor="let city of cities" [value]="city.id" (click)="setDepartureCityName($event)">
                        {{city.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  </li>
              
                  <li class="list">
                    <mat-form-field>
                    <mat-select placeholder="Destination" [(ngModel)]="selectedArrivalCityId" [disabled]="selectArrivalStatus">
                      <mat-option *ngFor="let city of cities" [value]="city.id" (click)="setArrivalCityName($event)">
                        {{city.name}} 
                      </mat-option>
                    </mat-select>
                    </mat-form-field>
                  </li>
              
                  <li class="list">
                      <mat-form-field>
                        <mat-select placeholder="Trip Type" [(value)]="tripType" >
                          <mat-option value="One Way" selected (click)="updateTripStatus()">One Way</mat-option>
                          <mat-option value="Round Trip" (click)="updateTripStatus()">Round Trip</mat-option>
                        </mat-select>
                      </mat-form-field>
                  </li>
                </ul>
              </div>
          </div>
   </div>

  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 align-self-center">
        <!-- <mat-card class="card"> -->
          <div>
            <ul class="itinerary">
              <li class="list">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="departureDate">Departure Date</label>
                  </div>
                  <input id="departureDate" type="date" name="departureDate" max="{{aYearDate}}" 
                         min="{{currentDate}}" class="form-control" [(ngModel)]="departDate">
                </div>
              </li>
      
              <li class="list"  [hidden]="tripStatus">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="arrivalDate">Arrival Date</label>
                  </div>
                  <input id="arrivalDate" type="date" name="arrivalDate" max="{{aYearDate}}" 
                         min="{{currentDate}}" class="form-control" [(ngModel)]="arrivalDate">
                </div>
              </li>
              <li class="list">
                <div class="form-group">
                  <button mat-raised-button color="primary" (click)="viewItinerary()">View Itinerary</button>
                 </div>
              </li>
            </ul>
          </div>
    </div>
  </div>
<hr>

<div class="container-fluid">
  <div class="row" >
      <div class="col-12">
        <h4>Sort by: </h4>
          <mat-form-field>
              <mat-select placeholder="Airline" [(ngModel)]="searchByAirline">
                <mat-option [value]="">All</mat-option>
                <mat-option *ngFor="let airline of airlines" [value]="airline.name">
                  {{airline.name}} 
                </mat-option>
              </mat-select>
          </mat-form-field>
    </div>
  </div>
  <hr>

  <mat-tab-group>

      <mat-tab label="First Flight">
          <div class="row result">
              <div *ngIf="firstFlights?.length < 1" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div  style="text-align: center">No flight available.</div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" *ngFor="let flight of firstFlights | filterEvent: searchByAirline">
                    <mat-card class="card">
                      
                          <span>{{departureCityName}} 
                            <span class="code">&nbsp;({{flight.departure_airport}})&nbsp;</span>
                          </span> &nbsp;<i class="fas fa-plane-departure"></i> &nbsp;
                          <span>{{setArrivalCityName}}
                            <span class="code">&nbsp;({{flight.arrival_airport}})&nbsp;</span></span>
                          <hr>
                          <div>
                            <span style="font-weight: bold">Airline: </span><span>{{flight.airline}}</span>
                            <br>
                            <span style="font-weight: bold">Date: </span><span>{{flight.departure_time | date}}</span>
                            <br>
                            <span style="font-weight: bold">Departure Time: </span> <span>{{flight.departure_time | date:'shortTime'}}</span>
                            <br>
                            <span style="font-weight: bold">Arrival Time: </span><span>{{flight.arrival_time | date:'shortTime'}}</span>
                            <br>
                            <span style="font-weight: bold">Price: </span><span>CAD {{flight.price}}</span>
                        </div>
                        <button mat-raised-button color="primary" [hidden]="!tripStatus">Book Flight</button>
                        <button mat-raised-button color="primary" [hidden]="tripStatus">Add to Itinerary</button>
                    </mat-card>
              </div>
            </div>
      </mat-tab>

      <mat-tab label="Second Flight" [disabled]="tripStatus">
        <div class="row result">
            <div *ngIf="secondFlights?.length < 1" class="col-lg-6 col-md-6 col-sm-6 col-xs-12" >
                <div style="text-align: center">No flight available.</div>
            </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" *ngFor="let flight of secondFlights | filterEvent: searchByAirline">
                  <mat-card class="card"> 
                        <span> {{setArrivalCityName}}&nbsp;</span>
                          <span class="code">
                         ({{flight.arrival_airport}})&nbsp;</span>
                         <span><i class="fas fa-plane-departure"></i> &nbsp; {{departureCityName}}</span>
                          <span class="code">&nbsp;({{flight.departure_airport}})&nbsp;</span>
                        <hr>
                        <div>
                          <span style="font-weight: bold">Airline: </span><span>{{flight.airline}}</span>
                          <br>
                          <span style="font-weight: bold">Date: </span><span>{{flight.departure_time | date}}</span>
                          <br>
                          <span style="font-weight: bold">Departure Time: </span> <span>{{flight.departure_time | date:'shortTime'}}</span>
                          <br>
                          <span style="font-weight: bold">Arrival Time: </span><span>{{flight.arrival_time | date:'shortTime'}}</span>
                          <br>
                          <span style="font-weight: bold">Price: </span><span>CAD {{flight.price}}</span>
                      </div>
                      <button mat-raised-button color="primary">Add to Itinerary</button>
                  </mat-card>
            </div>
          </div>
      </mat-tab>
    </mat-tab-group>

  </div>
</div>


