<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Trip Builder
  </h1>
</div>

<div style="">
  <mat-card class="card">
    <div >
      <ul class="itinerary">
        <li class="list">
          <mat-form-field>
          <mat-select placeholder="Departure">
            <mat-option *ngFor="let city of cities" [value]="city.code">
              {{city.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        </li>
    
        <li class="list">
          <mat-form-field>
          <mat-select placeholder="Destination">
            <mat-option *ngFor="let city of cities" [value]="city.code">
              {{city.name}}
            </mat-option>
          </mat-select>
          </mat-form-field>
        </li>
    
        <li class="list">
            <mat-form-field>
              <mat-select placeholder="Trip Type" [(value)]="tripType">
                <mat-option value="One Way">One Way</mat-option>
                <mat-option value="Round Trip">Round Trip</mat-option>
              </mat-select>
            </mat-form-field>
        </li>

        <li class="list">
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </li>
      </ul>
    </div>
  </mat-card>
</div>

